.AbstractLogMgrPage>div {
	margin: 10px 0;
	width: 85%;
}

.PVStatMgrPage {
  border: 1px solid #aaa;
  background-color: #f5f5f5;
  width: 85%;
  margin: 15px 0;
}

.tb_container .text_button {
  width: 120px;
}

#idPVStatMgrPage_lchart2 {
  border-top: 1px solid #aaa;
  margin-top: 15px;
}

